.banner{
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 100vh;
    margin-bottom: 100px;
    

    &__hero{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FAF7F8;
        width: 95vw;
        height: 100%;
        position: relative;

        &-left{
            p{
                width: 500px;
            }
            h1{
                font-family: "Lobster", sans-serif;
                font-size: 50px;
                color: orange;
            }
        }

        &-right{
            img{
                height: 80vh;
                padding: 50px;
            }
        }

        &-span{
            position: absolute;
            background: red;
            font-size: 35px;
            color: white;
            padding: 10px 20px;
            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
            top: 150px;
            left: 200px;
            box-shadow: 0 8px 15px rgb(246, 99, 99); /* Hiệu ứng đổ bóng */
        }

        &-span-2{
            position: absolute;
            font-size: 25x;
            font-weight: 700;
            background: rgb(255, 188, 2);
            padding: 15px 10px;
            border-radius: 50%;
            color: white;
            box-shadow: 0 0 15px 5px rgb(255, 188, 2);
            top: 125px;
            left: 185px;
        }

        &-contact{
            position: absolute;
            left: 100px;
            top: 500px;
                &--main{
                    
                    &---img{
                        width: 80px;
                        position: relative;
                        background: #85627E;
                        padding: 0px 10px;
                        border-radius: 10px;

                        img{
                            width: 100%;
                            transform: translateY(-40px);
                        }
                    }
                    &---a{
                        display: flex;
                        a{
                        bottom: 0;
                        position: absolute;
                        background: black;
                        color: white;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: 700;
                        padding: 10px 10px;
                        width: 130px;
                        left: -20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 8px;

                        &:hover{
                            background: rgb(39, 38, 38);
                            box-shadow: 0 0 8px 5px gray;
                        }
                        }


                    svg{
                        position: absolute;
                        top: -20px;
                        color:black;
                        right: -25px;
                        width: 50px;
                        height: 50px;
                    }
                  
                }
            }
        }

    }
}