.goHome{
    position: absolute;
    bottom: 100px;
    right: 100px;
    a{
        text-decoration: none;
        font-weight: 700;
        color: black;
        background: rgba(224, 224, 224, 0.5);
        padding: 10px 15px;
        border-radius: 8px;

    }
}